/*General*/
.root {
    -fx-font-family: "Let's go Digital";
}

.overlay {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 20, 0.8, 0, 0);
}

.imgPane {
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 30, 0.5, 0, 0);
}

.arrowBtn {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/*Home page*/
.title {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.homeLabel {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}

.homeBtn {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

/*Theme page*/
.themeLabel {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.themeBtn {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/*In game*/
.gamePanel {
    -fx-background-color: black;
    -fx-background-radius: 12px;
    -fx-border-insets: -10px;
    -fx-border-width: 10px;
    -fx-border-radius: 12px;
}

.previewPanel {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-insets: -10px;
    -fx-border-width: 10px;
    -fx-border-radius: 12px;
}

.inGameLabel {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.inGameBtn {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-width: 5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20;
}

.previewLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

/*On Pause*/
.onPauseLabel {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.onPauseBtn {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-border-width: 5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 10 25 10 25;
}

/*On GameOver*/
.resultLabel {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.onGameOverBtn {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-border-width: 5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 10 25 10 25;
}

.gameBoard {
}