root {

}
/*Panes*/
.overlay {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 20, 0.8, 0, 0);
}

.imgPane {
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 30, 0.5, 0, 0);
}

.gamePanel, .previewPanel {
    -fx-background-color: black;
    -fx-border-insets: -10px;
    -fx-border-width: 10px;
    -fx-border-radius: 12px;
}

/*Labels*/
.title, .overlayLabel {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

.homeLabel, .themeLabel, .resultLabel, .leaderBoardLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.inGameLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#timeLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.previewLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/*Buttons*/
.arrowBtn {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20;
}

.homeBtn, .themeBtn, .leaderBoardBtn {
    -fx-font-size: 25px;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}

.inGameBtn {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}

.overlayBtn {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 6px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
}

.gameOverBtn {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-border-width: 6px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
}

/* ------------------ TableView Base ------------------ */
.table-view {
    -fx-padding: 10;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-table-cell-border-color: transparent; /* remove inner grid lines */
}

/* Column headers */
.table-view .column-header {
    -fx-padding: 10;
}

.table-view .column-header-background {
    -fx-padding: 5 0 5 0;
    -fx-background-insets: 0 0 1 0;
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Table rows */
.table-row-cell {
    -fx-cell-size: 40px;   /* row height */
    -fx-padding: 5 10;
    -fx-background-insets: 0;
}

.table-cell {
    -fx-font-size: 18px;
    -fx-padding: 5 10;
}

/* Hover + Selected (no colors yet, neon.css will handle it) */
.table-row-cell:hover {
    -fx-background-insets: 0;
}

.table-row-cell:selected {
    -fx-background-insets: 0;
}
