root {

}
/*Panes*/
.overlay {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 20, 0.8, 0, 0);
}

.imgPane {
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 30, 0.5, 0, 0);
}

.gamePanel, .previewPanel {
    -fx-background-color: black;
    -fx-border-insets: -10px;
    -fx-border-width: 10px;
    -fx-border-radius: 12px;
}

/*Labels*/
.title, .overlayLabel {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.homeLabel, .themeLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.inGameLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#timeLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.previewLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/*Buttons*/
.arrowBtn {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20;
}

.homeBtn, .themeBtn {
    -fx-font-size: 30;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}

.inGameBtn {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}

.overlayBtn {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-border-width: 6px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
}